{% extends "AppPeluqueria/padre.html" %}

{% load static %}

{% block contenidoquecambia %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>
<body>
    <p>Soy Leonardo Casas, tengo 29 años y trabajo hace 7 en atencion al público en comercio, este año decidí estudiar programacion <br> para cambiar de trabajo y aumentar mis ganancias.</p>
</body>
</html>

{%  endblock    %}