{% extends "AppPeluqueria/padre.html" %}

{% load static %}
{% block contenidoquecambia %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uñas</title>
</head>
<body> 
    <h1>Ingrese el trabajo de uñas realizado:</h1> 

    {% if form.errors  %}

        <p>Por favor revisa este campo  </p>
 
    {% endif %}
    <div>
        <form method='post' enctype="multipart/form-data">  
            
            {% csrf_token    %}
            <table>

            {{form}} 

            </table>
                &nbsp;&nbsp;
            <button class="btn btn-primary" type="submit">Enviar</button>   
        </form>
    
    </div>
</body>
</html>
{% endblock %}
