{% extends "AppPeluqueria/padre.html" %}

{% load static %}

{% block contenidoquecambia %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uñas</title> 
</head>
<body>
    
    <h1>Nuestros trabajos en uñas! </h1> 
    <ul>
        {% for unias in object_list %}

            <li>
            
                    
                    
                Producto: {{ unias.producto}} -
                Fecha: {{unias.fecha }}<br>
                Trabajo realizado: {{unias.descripcion}}  </p><br>
                    

                    
            

            </li>
        
        
        {% endfor %}

    <a href="{% url 'unias_form' %}">Nuevo posteo</a>  




    </ul>
</body>
</html>


{% endblock %}
